<h2>User</h2>

<div class="display-card">
    <div class="display-text">
        <h3>User: {{userSearch.first_name}} {{userSearch.last_name}} {{dbMsg.error}}</h3>
        <h4>Email: {{userSearch.email}}</h4>
    </div>
</div>

<a class="main-link" href="/users">Back to users</a>
