<h2>User</h2>

<div class="display-card">
    <div class="display-text">
        <h3>User: {{user.firstname}} {{user.lastname}}</h3>
        <h4>Email: {{user.email}}</h4>
    </div>
</div>

<a class="main-link" href="/users">Back to users</a>
