<h2>Users</h2>

{{#each userSearch}}
<div class="display-card">
    <div class="display-text">
        <h3>First Name: {{{this.first_name}}}</h3>
        <h3>Last Name: {{{this.last_name}}}</h3>
        <h4>Email: {{{this.email}}}</h4>
    </div>
</div>
{{/each}}

<a class="main-link" href="/users/new">Create a new user</a>